body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: aliceblue;
}
.navbar
{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: black;
}
.navbar ul li 
{
    display: inline-block;
    padding: 5px 8px;
}

.navbar a 
{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: cursive;
}
.navbar a:hover
{
    text-decoration: underline;
    color: red;
    content: "";
}
.navbar a::after 
{
    content: "|";
    padding: 22px 25px;
}

.active::after
{ 
    content: "";
    display: none !important;    
}

.content h1 
{
    text-align: center;
    font-weight: 900;
    font-size: 65px;
}

.add-txt::before 
{
    content: "Pandey Ravindra";
} 